@import url("./fonts.css");
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  font: inherit;
}
*::before, *::after {
  box-sizing: border-box;
}

:root {
  --accent-color: #fff;
  --primary-background-color: #212121;
  --secondary-background-color: #3C3C3C;
  --additional-background-color: #212121;
  --container-width: 1400px;
  --container-paddings: 60px;
  --header-height: 70px;
  --header-inner-height: 70px;
  --font-size-tiny: 12px;
  --font-size-small: 14px;
  --font-size-normal: 16px;
  --border-small: 13px;
  --border-normal: 16px;
  --border-medium: 20px;
  --border-large: 32px;
  --icon-size-small: 12px;
  --icon-size-normal: 18px;
}

body {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--primary-background-color);
  margin: 0;
}

.main section {
  position: relative;
  z-index: 10;
}

img,
svg,
video {
  display: block;
  max-width: 100%;
}

picture {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
p,
a,
nav,
button,
input,
label,
textarea,
ul,
li,
table,
tr,
td,
span {
  font-family: "Mulish";
}

::-moz-placeholder {
  font-family: "Mulish";
}

::placeholder {
  font-family: "Mulish";
}

a,
button,
input,
label,
textarea {
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
}

a,
button {
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

a,
a:focus-visible,
a:visited {
  color: inherit;
}

:focus-visible {
  outline: none;
}

ul {
  padding: 0;
  list-style: none;
  list-style-type: none;
}
ul li {
  display: inline-block;
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
  color: #fff;
  text-transform: none;
  line-height: 1.3;
  margin-bottom: 0.45em;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 38px;
}

p {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 500;
  line-height: 1.5;
}
p:not(:last-of-type) {
  margin-bottom: 1.45em;
}

.button {
  display: inline-block;
  background-color: #fff;
  color: #000;
  border-radius: var(--border-small);
  padding: 1em 2em;
  font-size: var(--font-size-small);
  font-weight: 700;
  margin-top: 2.75em;
  transition: all 0.3s ease-out;
  box-shadow: 0.5em 1em 4em 0 rgba(0, 0, 0, 0.7);
}
.button.button-wide {
  padding: 1em 3em;
}
.button:hover {
  background-color: #eaeaea;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.container {
  max-width: calc(var(--container-width) + var(--container-paddings) / 2);
  width: 100%;
  padding: 0 var(--container-paddings);
  margin: 0 auto;
}

.main {
  position: relative;
}
.main::before {
  content: "";
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: url("../images/bg_pattern.svg") no-repeat center center/cover;
  z-index: -1;
  opacity: 0.1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 999;
  padding: 10px 0;
  transform: none;
  transition: all 0.2s ease-in;
}
.header.header-onmove {
  background-color: var(--secondary-background-color);
}
.header.menu-hidden {
  transform: translateY(calc(-1 * var(--header-inner-height) - 2px));
}
.header .header-inner {
  max-width: calc(var(--container-width) + var(--container-paddings) / 2);
  padding: 10px var(--container-paddings);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 5;
}
.header .header-inner .logo {
  margin-right: auto;
  margin-left: 2em;
}
.header .header-inner .logo img {
  max-width: 170px;
  width: 100%;
}
.header .header-inner .dropdown {
  position: absolute;
  left: var(--container-paddings);
  bottom: 0;
  max-width: calc(100% - var(--container-paddings) * 2);
  width: 200px;
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.05s ease-out;
  padding: 1.45em;
  border-radius: var(--border-medium);
  background-color: rgba(55, 55, 55, 0.6);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.header .header-inner .dropdown .header-nav {
  font-weight: 500;
  font-size: var(--font-size-small);
}
.header .header-inner .dropdown .header-nav ul {
  display: block;
}
.header .header-inner .dropdown .header-nav ul li {
  display: block;
}
.header .header-inner .dropdown .header-nav ul li a {
  color: rgba(255, 255, 255, 0.65);
  transition: color 0.2s ease-out;
}
.header .header-inner .dropdown .header-nav ul li a:hover {
  color: rgb(255, 255, 255);
}
.header .header-inner .dropdown .header-nav ul li:not(:last-of-type) {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header .header-inner .dropdown .header-nav ul li.current-menu-item.page_item a {
  color: var(--accent-color);
  font-weight: 700;
}
.header .header-inner .actions {
  font-size: var(--font-size-tiny);
}
.header .header-inner .actions .action {
  display: flex;
  align-items: center;
}
.header .header-inner .actions .action .icon {
  margin-right: 1.25em;
}
.header .header-inner .actions .action .icon svg {
  width: var(--icon-size-normal);
  height: auto;
}
.header .header-inner .actions .action .icon svg path {
  color: #fff;
}
.header .header-inner .actions .action .content p {
  margin: 0;
}
.header .header-inner .actions .action .content p.bold {
  font-size: 1.25em;
  font-weight: 700;
  color: #fff;
}
.header .menu-head-inner {
  --edges-color: var(--secondary-background-color);
}
.header #nav-toggle {
  display: inline-flex;
  width: 22px;
  height: 22px;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  position: relative;
}
.header #nav-toggle span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 10px;
  transition: all 0.35s linear;
}
.header #nav-toggle::before, .header #nav-toggle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  transition: all 0.2s linear;
}
.header #nav-toggle::before {
  margin-top: -8px;
}
.header #nav-toggle::after {
  margin-top: 8px;
}
.header.header-open #nav-toggle span {
  transform: rotate(45deg);
  opacity: 0;
}
.header.header-open #nav-toggle::before {
  transform: translate(-50%, -50%) rotate(-45deg);
  margin: 0;
}
.header.header-open #nav-toggle::after {
  transform: translate(-50%, -50%) rotate(45deg);
  margin: 0;
}
.header.header-open .header-inner .dropdown {
  visibility: visible;
  opacity: 1;
}

.index-top {
  padding-top: calc(var(--header-height) + 5vh);
  padding-bottom: 10vh;
}
.index-top .top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -40px;
  font-size: var(--font-size-normal);
}
.index-top .top-inner .content {
  width: calc(55% - 80px);
  margin: 40px;
}
.index-top .top-inner .photo {
  width: calc(45% - 80px);
  margin: 40px;
  border-radius: calc(var(--border-large) * 1.2);
  padding: 30px;
  background: url("../images/bg_pattern_2.jpg") no-repeat center center/cover;
}
.index-top .top-inner .photo .top-photo {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: 30px 30px 60px 0 rgba(0, 0, 0, 0.5);
}

.promos {
  padding-top: calc(var(--header-height) + 5vh);
  padding-bottom: 5vh;
  width: 100%;
  overflow: hidden;
}
.promos .promos-wrapper {
  --slider-gap: 30px;
  margin: 0 calc(var(--slider-gap) / 2 * -1);
}
.promos .promos-wrapper .promos-slider .slick-list {
  overflow: visible;
}
.promos .promos-wrapper .promos-slider .item {
  width: calc(100% - var(--slider-gap));
  margin: 0 calc(var(--slider-gap) / 2);
  border-radius: var(--border-medium);
  overflow: hidden;
}
.promos .promos-wrapper .promos-slider .item .promo {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.slider-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.45em;
}
.slider-nav .slider-dots {
  position: relative;
  width: auto;
  margin: 0 20px;
}
.slider-nav .slider-dots .slick-dots {
  display: flex;
  justify-content: center;
  margin: 0 -5px;
  padding: 0;
  font-size: 0;
}
.slider-nav .slider-dots .slick-dots li {
  flex: 1 1 auto;
  margin: 0 5px;
  opacity: 0.5;
  cursor: pointer;
}
.slider-nav .slider-dots .slick-dots li button {
  font-size: 0;
  width: 40px;
  height: 2px;
  background: white;
}
.slider-nav .slider-dots .slick-dots li.slick-active {
  opacity: 1;
}
.slider-nav .slider-arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0.2em;
}
.slider-nav .slider-arrow svg, .slider-nav .slider-arrow img {
  width: 60%;
  height: auto;
}
.slider-nav .slider-arrow svg path {
  fill: var(--accent-color);
}

.menu-head {
  padding: 1em 0;
  background-color: var(--primary-background-color);
}

.menu-head-inner {
  --edges-color: var(--primary-background-color);
  max-width: calc(var(--container-width) + var(--container-paddings) / 2);
  padding: 0 var(--container-paddings);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  font-size: var(--font-size-small);
  width: 100%;
}
.menu-head-inner .menu-search {
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 999px;
  padding: 0.5em;
  width: var(--search-width, auto);
  transition: width 0.3s ease-out;
  position: relative;
}
.menu-head-inner .menu-search .menu-search-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
.menu-head-inner .menu-search .menu-search-toggle svg {
  width: var(--icon-size-normal);
  height: auto;
}
.menu-head-inner .menu-search .menu-search-toggle svg path {
  fill: #fff;
}
.menu-head-inner .menu-search .menu-search-input {
  width: 0;
  color: #fff;
  transition: all 0.3s ease-out;
  margin-right: auto;
}
.menu-head-inner .menu-search .menu-search-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.menu-head-inner .menu-search .menu-search-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.menu-head-inner .menu-search .menu-search-clear {
  position: absolute;
  right: 1.5em;
  top: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in;
}
.menu-head-inner .menu-search .menu-search-clear svg {
  width: var(--icon-size-small);
  height: auto;
}
.menu-head-inner .menu-search .menu-search-clear svg path {
  fill: #fff;
}
.menu-head-inner .menu-search.active {
  width: 30%;
}
.menu-head-inner .menu-search.active .menu-search-toggle {
  pointer-events: none;
}
.menu-head-inner .menu-search.active .menu-search-input {
  width: 80%;
}
.menu-head-inner .menu-search.active .menu-search-clear {
  opacity: 1;
  visibility: visible;
}
.menu-head-inner .menu-categories-wrapper {
  flex: 1;
  overflow: hidden;
  padding: 1px;
  position: relative;
}
.menu-head-inner .menu-categories-wrapper::before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  width: 3em;
  display: block;
  position: absolute;
  pointer-events: none;
  z-index: 1;
  background: linear-gradient(90deg, var(--edges-color) 0%, transparent 100%);
}
.menu-head-inner .menu-categories-wrapper::after {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  width: 3em;
  display: block;
  position: absolute;
  pointer-events: none;
  z-index: 1;
  background: linear-gradient(270deg, var(--edges-color) 0%, transparent 100%);
}
.menu-head-inner .menu-categories-wrapper .menu-categories {
  padding: 0 3em;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overscroll-behavior-x: none;
  overscroll-behavior-y: auto;
  cursor: grab;
}
.menu-head-inner .menu-categories-wrapper .menu-categories::-webkit-scrollbar {
  display: none;
}
.menu-head-inner .menu-categories-wrapper .menu-categories .menu-category-selector {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 200px;
  padding: 1em 2em;
  font-weight: 700;
  transition: border 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out;
  white-space: nowrap;
}
.menu-head-inner .menu-categories-wrapper .menu-categories .menu-category-selector:not(:last-of-type) {
  margin-right: 1em;
}
.menu-head-inner .menu-categories-wrapper .menu-categories .menu-category-selector.active {
  background-color: var(--accent-color);
  color: #000;
}
.menu-head-inner .menu-categories-wrapper .menu-categories .menu-category-selector:not(.active):hover {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.15);
}

.dish-block {
  padding-top: 45px;
}
.dish-block:last-of-type {
  padding-bottom: 45px;
}
.dish-block .dish-block-heading {
  margin-bottom: 1em;
}
.dish-block .dish-block-container {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: -10px;
}
.dish-block .dish-block-container .dish-item {
  width: calc(25% - 20px);
  margin: 10px;
  font-family: "Mulish", sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: var(--font-size-normal);
  line-height: 1.5;
  border-radius: var(--border-medium);
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.07);
  border: 1px solid rgba(255, 255, 255, 0.08);
  transition: all 0.3s ease-out;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  cursor: pointer;
}
.dish-block .dish-block-container .dish-item:hover {
  border: 1px solid rgba(255, 255, 255, 0.05);
  background-color: rgba(255, 255, 255, 0.05);
}
.dish-block .dish-block-container .dish-item .dish-photo {
  width: 100%;
  height: 250px;
}
.dish-block .dish-block-container .dish-item .dish-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: calc(100% - 250px);
}
.dish-block .dish-block-container .dish-item .modal-content {
  display: none;
}

#search-empty-text {
  max-width: calc(var(--container-width) + var(--container-paddings) / 2);
  width: 100%;
  padding: 0 var(--container-paddings);
  margin: 1em auto 3em auto;
  font-family: "Mulish";
  font-weight: 900;
  color: #fff;
  text-transform: none;
  line-height: 1.3;
  font-size: calc(var(--font-size-normal) * 2);
}

.dish-photo .photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.dish-content {
  padding: 20px;
  font-size: var(--font-size-normal);
  color: #fff;
}
.dish-content .dish-name {
  font-size: 1.125em;
  font-weight: 800;
  margin-bottom: 1.45em;
}
.dish-content .dish-price-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dish-content .dish-price-row .dish-weight {
  font-size: 0.825em;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.65);
}
.dish-content .dish-price-row .add-to-cart-button {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 999px;
  padding: 0.35em 0.925em;
  font-weight: 700;
  font-size: 1.25em;
  transition: all 0.3s ease-out;
}
.dish-content .dish-price-row .add-to-cart-button .currency {
  font-size: 0.65em;
}
.dish-content .dish-price-row .add-to-cart-button.added {
  background-color: #fff;
  color: #000;
}
.dish-content .dish-price-row .add-to-cart-button:not(.added):hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.modals .modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 9999;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.modals .modal .modal-inner {
  display: flex;
  height: auto;
  min-height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modals .modal .modal-inner .modal-content {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background: var(--additional-background-color);
  border-radius: var(--border-large);
  max-width: 750px;
  text-align: center;
  font-family: "Mulish";
  overflow: hidden;
  text-align: left;
}
.modals .modal .modal-inner .modal-content .dish-photo {
  width: 50%;
}
.modals .modal .modal-inner .modal-content .dish-content {
  width: 50%;
  padding: 45px;
  font-size: var(--font-size-small);
}
.modals .modal .modal-inner .modal-content .dish-content p {
  font-size: var(--font-size-tiny);
}
.modals .modal .modal-inner .modal-content .dish-content .dish-price-row {
  margin-top: 2.45em;
}
.modals .modal .modal-inner .modal-content .dish-content .allergo {
  font-weight: 800;
  margin: 1.3em 0;
}
.modals .modal .modal-inner .modal-content .dish-content .button {
  margin-top: 0;
  font-size: 0.825em;
}/*# sourceMappingURL=style.css.map */