@import url('./fonts.css');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    font: inherit;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

:root {
    --accent-color: #fff;
    --primary-background-color: #212121;
    --secondary-background-color: #3C3C3C;
    --additional-background-color: #212121;
    --container-width: 1400px;
    --container-paddings: 60px;
    --header-height: 70px;
    --header-inner-height: 70px;
    --font-size-tiny: 12px;
    --font-size-small: 14px;
    --font-size-normal: 16px;
    --border-small: 13px;
    --border-normal: 16px;
    --border-medium: 20px;
    --border-large: 32px;
    --icon-size-small: 12px;
    --icon-size-normal: 18px;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--primary-background-color);
    margin: 0;
}
.main section{
    position: relative;
    z-index: 10;
}

img,
svg,
video {
    display: block;
    max-width: 100%;
}

picture{
    max-width: 100%;
}

h1,
h2,
h3,
h4,
p,
a,
nav,
button,
input,
label,
textarea,
ul,
li,
table,
tr,
td,
span {
    font-family: 'Mulish';
}

::placeholder {
    font-family: 'Mulish';
}

a,
button,
input,
label,
textarea {
    outline: none;
    border: none;
    text-decoration: none;
    appearance: none;
    background: none;
}

a,
button {
    box-shadow: none;
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

a,
a:focus-visible,
a:visited {
    color: inherit;
}

:focus-visible {
    outline: none;
}

ul {
    padding: 0;
    list-style: none;
    list-style-type: none;

    li {
        display: inline-block;
        list-style: none;
    }
}

h1,
h2,
h3,
h4 {
    font-weight: 900;
    color: #fff;
    text-transform: none;
    line-height: 1.3;
    margin-bottom: .45em;
}

h1{
    font-size: 45px;
}
h2{
    font-size: 38px;
}

p{
    color: rgba(255, 255, 255, 0.75);
    font-weight: 500;
    line-height: 1.5;

    &:not(:last-of-type){
        margin-bottom: 1.45em;
    }
}

.button{
    display: inline-block;
    background-color: #fff;
    color: #000;
    border-radius: var(--border-small);
    padding: 1em 2em;
    font-size: var(--font-size-small);
    font-weight: 700;
    margin-top: 2.75em;
    transition: all .3s ease-out;
    box-shadow: .5em 1em 4em 0 rgba(0, 0, 0, 0.7);

    &.button-wide{
        padding: 1em 3em;
    }
    &:hover{
        background-color: #eaeaea;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.container{
    max-width: calc(var(--container-width) + (var(--container-paddings) / 2));
    width: 100%;
    padding: 0 var(--container-paddings);
    margin: 0 auto;
}

.main{
    // margin-top: var(--header-height);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(#000, 0);
    z-index: 999;
    padding: 10px 0;
    transform: none;
    transition: all .2s ease-in;

    &.header-onmove{
        background-color: var(--secondary-background-color);
    }
    &.menu-hidden{
        transform: translateY(calc(-1 * var(--header-inner-height) - 2px));
    }
    .header-inner{
        max-width: calc(var(--container-width) + var(--container-paddings) / 2);
        padding: 10px var(--container-paddings);
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
        z-index: 5;

        .logo{
            margin-right: auto;
            margin-left: 2em;

            img{
                max-width: 170px;
                width: 100%;
            }
        }
        .dropdown{
            position: absolute;
            left: var(--container-paddings);
            bottom: 0;
            max-width: calc(100% - var(--container-paddings) * 2);
            width: 200px;
            transform: translateY(100%);
            opacity: 0;
            visibility: hidden;
            transition: all .05s ease-out;
            padding: 1.45em;
            border-radius: var(--border-medium);
            background-color: rgba(55, 55, 55, 0.6);
            backdrop-filter: blur(50px);
            border: 1px solid rgba(#fff, 0.2);
            

            .header-nav{
                font-weight: 500;
                font-size: var(--font-size-small);

                ul {
                    display: block;
            
                    li {
                        display: block;
            
                        a{
                            color: rgba(255, 255, 255, 0.65);
                            transition: color .2s ease-out;

                            &:hover{
                                color: rgba(255, 255, 255, 1);
                            }
                        }
                        &:not(:last-of-type){
                            margin-bottom: 1em;
                            padding-bottom: 1em;
                            border-bottom: 1px solid rgba(#fff, 0.2);
                        }
                        &.current-menu-item.page_item a {
                            color: var(--accent-color);
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        .actions{
            font-size: var(--font-size-tiny);
            
            .action{
                display: flex;
                align-items: center;

                .icon{
                    margin-right: 1.25em;

                    svg{
                        width: var(--icon-size-normal);
                        height: auto;
                        
                        path{
                            color: #fff;
                        }
                    }
                }
                .content{

                    p{
                        margin: 0;

                        &.bold{
                            font-size: 1.25em;
                            font-weight: 700;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .menu-head-inner{
        --edges-color: var(--secondary-background-color);
    }
    #nav-toggle{
        display: inline-flex;
        width: 22px;
        height: 22px;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        position: relative;

        span{
            display: block;
            width: 100%;
            height: 2px;
            background-color: #fff;
            border-radius: 10px;
            transition: all .35s linear;
        }
        &::before, &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            border-radius: 10px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            transition: all .2s linear;
        }
        &::before{
            margin-top: -8px;
        }
        &::after{
            margin-top: 8px;
        }
    }
    &.header-open{

        #nav-toggle{
        
            span{
                transform: rotate(45deg);
                opacity: 0;
            }
            &::before{
                transform: translate(-50%, -50%) rotate(-45deg);
                margin: 0;
            }
            &::after{
                transform: translate(-50%, -50%) rotate(45deg);
                margin: 0;
            }
        }
        .header-inner{

            .dropdown{
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

.index-top{
    // background: url('../images/bg_pattern.svg') no-repeat center center/cover;
    padding-top: calc(var(--header-height) + 5vh);
    padding-bottom: 10vh;

    .top-inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: -40px;
        font-size: var(--font-size-normal);

        .content{
            width: calc(55% - 80px);
            margin: 40px;
        }
        .photo{
            width: calc(45% - 80px);
            margin: 40px;
            border-radius: calc(var(--border-large) * 1.2);
            padding: 30px;
            border: 2px solid rgba(255, 255, 255, 0.3);
            background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(20px);

            .top-photo{
                width: 100%;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: var(--border-large);
                box-shadow: 30px 30px 60px 0 rgba(#000, 0.5);
            }
        }
    }
}

.menu-head{
    padding: 1em 0;
}

.menu-head-inner{
    --edges-color: var(--primary-background-color);
    max-width: calc(var(--container-width) + var(--container-paddings) / 2);
    padding: 0 var(--container-paddings);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    font-size: var(--font-size-small);
    width: 100%;

    .menu-search{
        display: flex;
        align-items: center;
        border: 1px solid rgba(#fff, 0.3);
        border-radius: 999px;
        padding: .5em;
        width: var(--search-width, auto);
        transition: width .3s ease-out;
        position: relative;

        .menu-search-toggle{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;

            svg{
                width: var(--icon-size-normal);
                height: auto;
                
                path{
                    fill: #fff;
                }
            }
        }
        .menu-search-input{
            width: 0;
            color: #fff;
            transition: all .3s ease-out;
            margin-right: auto;

            &::placeholder{
                color: rgba(#fff, 0.7);
            }
        }
        .menu-search-clear{
            position: absolute;
            right: 1.5em;
            top: 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: auto;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            transition: opacity .3s ease-in;

            svg{
                width: var(--icon-size-small);
                height: auto;
                
                path{
                    fill: #fff;
                }
            }
        }
        &.active{
            width: 30%;

            .menu-search-toggle{
                pointer-events: none;
            }
            .menu-search-input{
                width: 80%;
            }
            .menu-search-clear{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .menu-categories-wrapper{
        flex: 1;
        overflow: hidden;
        padding: 1px;
        position: relative;

        &::before{
            content: '';
            top: 0;
            bottom: 0;
            left: 0;
            width: 3em;
            display: block;
            position: absolute;
            pointer-events: none;
            z-index: 1;
            background: linear-gradient(90deg, 
                var(--edges-color) 0%,
                transparent 100%,
            );
        }
        &::after{
            content: '';
            top: 0;
            bottom: 0;
            right: 0;
            width: 3em;
            display: block;
            position: absolute;
            pointer-events: none;
            z-index: 1;
            background: linear-gradient(270deg, 
                var(--edges-color) 0%,
                transparent 100%,
            );
        }
        .menu-categories{
            padding: 0 3em;
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            scrollbar-width: none;
            -ms-overflow-style: none;
            overscroll-behavior-x: none;
            overscroll-behavior-y: auto;
            cursor: grab;
    
            &::-webkit-scrollbar{
                display: none;
            }
            .menu-category-selector{
                display: inline-block;
                background-color: rgba(#fff, 0.1);
                border: 1px solid rgba(#fff, 0.3);
                backdrop-filter: blur(10px);
                border-radius: 200px;
                padding: 1em 2em;
                font-weight: 700;
                transition: border .3s ease-out, background-color .3s ease-out, color .3s ease-out;
                white-space: nowrap;
    
                &:not(:last-of-type){
                    margin-right: 1em;
                }
                &.active{
                    background-color: #fff;
                    color: #000;
                }
                &:not(.active):hover{
                    border: 1px solid rgba(#fff, 0.2);
                    background-color: rgba(#fff, 0.05);
                }
            }
        }
    }
}

.dish-block{
    padding-top: 45px;

    &:last-of-type{
        padding-bottom: 45px;
    }
    .dish-block-heading{
        margin-bottom: 1em;
    }
    .dish-block-container{
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: -10px;

        .dish-item{
            width: calc(25% - 20px);
            margin: 10px;
            font-family: 'Mulish', sans-serif;
            color: #fff;
            font-weight: 600;
            font-size: var(--font-size-normal);
            line-height: 1.5;
            border-radius: var(--border-medium);
            overflow: hidden;
            background-color: rgba(#fff, 0.1);
            border: 1px solid rgba(#fff, 0.1);
            transition: all .3s ease-out;
            cursor: pointer;

            &:hover{
                border: 1px solid rgba(#fff, 0.05);
                background-color: rgba(#fff, 0.05);
            }
            .dish-photo{
                width: 100%;
                height: 250px;
            }
            .dish-content{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: stretch;
                height: calc(100% - 250px);
            }
            .modal-content{
                display: none;
            }
        }
    }
}

.dish-photo .photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.dish-content{
    padding: 20px;
    font-size: var(--font-size-normal);
    color: #fff;

    .dish-name{
        font-size: 1.125em;
        font-weight: 800;
        margin-bottom: 1.45em;
    }
    .dish-price-row{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .dish-weight{
            font-size: .825em;
            font-weight: 700;
            color: rgba(#fff, 0.65);
        }
        .add-to-cart-button{
            display: inline-block;
            background-color: rgba(#fff, 0.1);
            color: #fff;
            border-radius: 999px;
            padding: .35em .925em;
            font-weight: 700;
            font-size: 1.25em;
            transition: all .3s ease-out;

            .currency{
                font-size: .65em;
            }
            &.added{
                background-color: #fff;
                color: #000;
            }
            &:not(.added):hover{
                background-color: rgba(#fff, 0.2);
            }
        }
    }
}

.modals{

    .modal{
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        height: 100dvh;
        background: rgba(#000, 0.7);
        backdrop-filter: blur(5px);
        z-index: 9999;

        .modal-inner{
            display: flex;
            height: 100%;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow-y: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;

            .modal-content{
                display: flex;
                align-items: stretch;
                justify-content: space-between;
                background: var(--additional-background-color);
                border-radius: var(--border-large);
                max-width: 750px;
                text-align: center;
                // box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
                font-family: 'Mulish';
                overflow: hidden;
                text-align: left;

                .dish-photo{
                    width: 50%;
                }
                .dish-content{
                    width: 50%;
                    padding: 45px;
                    font-size: var(--font-size-small);

                    p{
                        font-size: var(--font-size-tiny);
                    }
                    .dish-price-row{
                        margin-top: 2.45em;
                    }
                    .allergo{
                        font-weight: 800;
                        margin: 1.3em 0;
                    }
                }
            }
        }
    }
}