body{
  --sti-color: rgb(240, 101, 37);
}

#wp-admin-bar-smartomato-import-bar-button a{
    padding: 0.5em 1.125em!important;
    margin: 1.125em!important;
    border: 1px solid var(--sti-color)!important;
    color: var(--sti-color)!important;
    text-align: center;
}
#wp-admin-bar-smartomato-import-bar-content .ab-item.ab-empty-item{
    text-align: center;
    border-bottom: 1px solid var(--sti-color);
    padding-bottom: .725em;
    margin-bottom: .725em;
    color: #fff!important;
}
#wp-admin-bar-smartomato-import-bar-content p{
    padding: .3em;
    line-height: 1.3!important;
    margin-left: 1.125em;
    margin-right: 1.125em;
}

#wp-admin-bar-smartomato-import-bar-content p b{
    color: #fff!important;
    line-height: 1.3!important;
}
#wp-admin-bar-smartomato-import-bar-content p:not(:last-of-type){
    margin-bottom: .5em;
}